= javascript_pack_tag "postcodesHelper"

.background-pattern.border-bottom
  .container.container-narrow
    = form_for @user, url: user_constituency_path do |f|
      - if !@user.email
        %p
          My email address is
          = f.text_field :email, placeholder: "me@example.com", autofocus: true
          .subdued.small We only need your email to let you know when we've found a swap partner for you. No spam, and your details will stay private with us.

      = render partial: "users/postcode_field"

      %p.ui-widget
        My constituency is
        = f.collection_select :constituency_ons_id, @constituencies,
                              :ons_id, :name,
                              selected: @default_constituency_ons_id,
                              prompt: true
      %p.text-center
        = submit_tag("Save", class: "btn btn-primary")
