.plain-pattern.border-bottom
  .container.api
    %h1 Swap My Vote API

    %p

      Swap My Vote does not have a conventional REST API, but we do
      have a single end point to pre-populate some of the fields that
      a user can choose.

    %p

      This should be ideal for tactical voting campaigns which want to
      encourage voters to follow their recommendations, and indeed we
      would be very happy to see tactical voting sites integrate with
      Swap My Vote.  The below documentation is probably sufficient,
      but if you need assistance then please

      = link_to("get in touch", contact_path) + "."

    %p

      Available parameters are:

    %dl

      %dt
        %code
          willing_party_name
      %dd
        The party that the user is willing to vote for, say
        tactically.

      %dt
        %code
          preferred_party_name
      %dd
        The party that the user would ideally like to vote for, say if
        all votes counted equally nationally.

      %dt
        %code
          constituency_name
      %dd
        The name of the default constituency for the user post-login.
        This is useful if you want to refer a user for tactical voting
        and you know in which constituency they are registered to vote,
        as it will save them manually selecting that constituency.
        The name must match one of the constituencies in the
        %code PCON18NM
        field of
        = link_to("this data set", constituency_ons_id_dataset_url,
                  target: "_blank") + "."

      %dt
        %code
          constituency_ons_id
      %dd
        The same as for

        %code constituency_name

        above, except that rather than the name, it's the ONS id of
        the constituency listed in the

        %code PCON18CD

        field of

        = link_to("the data set", constituency_ons_id_dataset_url,
                  target: "_blank") + "."

    %p

      For example if a tactical voting site wishes to recommend a user
      to vote for the Liberal Democrat candidate in the Somerton and Frome
      consitituency, they could use this outbound link:

      - url1 = swap_url(willing_party_name: "liberal_democrats",
                        constituency_name: "Somerton and Frome")

      %pre
        %code
          = link_to url1, url1

      This one would also work:

      - url2 = swap_url(willing_party_name: "liberal_democrats",
                        constituency_name: "E14000932")

      %pre
        %code
          = link_to url2, url2

    %p

      The party names should be lowercased and use underscores instead
      of spaces. We support 15 parties at the moment, with the follow
      canonical names on Swap My Vote:

    %ul
      %li
        %code labour
      %li
        %code liberal_democrats
      %li
        %code green
      %li
        %code conservative
      %li
        %code ukip
      %li
        %code snp
      %li
        %code plaid_cymru
      %li
        %code breakthrough
      %li
        %code for_britain
      %li
        %code freedom_alliance
      %li
        %code independent
      %li
        %code reform_uk
      %li
        %code rejoin_eu
      %li
        %code workers
      %li
        %code yorkshire
