-# haml-lint: disable ViewLength
- content_for(:meta_og_description) do
  Make votes matter! Swap yours with someone in a constituency where both could count for more. You get to vote for who you really want, and help someone else do the same. Turn tactical voting into a win-win!
.plain-pattern.border-bottom
  .container
    %h1 FAQ

    %a(name="legal")
    %h2 Is this legal?
    %p Yes.
    %p

      Vote swapping has taken place informally since voting began, not
      least within parliaments. We know of no law against it (unlike
      selling your vote, or compelling someone to vote against their
      will, which are very much illegal!), and indeed in the USA,
      swapping votes has <a
      href="https://cdn.ca9.uscourts.gov/datastore/opinions/2007/08/06/0655517.pdf">been
      found</a> by the Appeals Court to be <a
      href="https://www.wired.com/2007/08/internet-vote-s/">protected
      speech</a> under the First Amendment.

      Swap My Vote merely introduces two individuals to each other who
      have complementary voting preferences; nothing changes hands, and
      the secret ballot still stands: you are responsible for trusting
      your partner - and voting according to your conscience!

      Please do not take pictures of your ballot.

    %a(name="trust")
    %h2 How do I know my partner will vote (for who I want)?
    %p

      We require that anyone logging in via email can be reached by
      the swap partner they have agreed to.
    %p
      To help ensure account belong to real people, we have also made verification of a
      mobile phone number mandatory.


    %p

      If you do make contact with your vote partner, perhaps let each
      other know what the most important policies to you, what you
      would like your vote to achieve, why you have decided to swap
      your vote.

    %p

      Some people even let each other know when they're heading down
      to the polling station and, on the day, we'll send you a link
      you can click to automatically let each other know you've voted.

    %p

      We’re hoping that this site may contribute to a greater sense of
      community amongst voters, all hoping to make the country run as
      well as possible for a better future for everyone.

    %p
      In the past we integrated the Swap My Vote platform with
      two of the biggest public social networks used in the UK
      (Twitter and Facebook) as another way to check that there is a
      real person at the other end of the swap.

      However, due to
      technical challenges these are not currently available during the
      #{election_date_season_type}.

    %a(name="privacy")
    %h2 Do my voting intentions stay private?
    %p

      Yes. Your voting intentions are sacred!

      We do not publish anything on your behalf outside the Swap My
      Vote platform and emails.

      Your name, profile picture, constituency and voting preferences
      will be presented to voting partners in different constituencies
      who have the complementary preferences.

      Sharing the site is voluntary and the 'share' buttons create a
      draft post with generic text which you can change before
      posting.

      No data is shared with Facebook or Twitter about your voting
      preferences.

      We only collect the minimum of data to allow us to find you a
      swap - see our

      = link_to("privacy policy", privacy_path)

      for more about how we use cookies to monitor visits to the site.


    %a(name="independence")
    %h2
      Are you aligned with a political party?

    %p

      No.
    %p
      The Swap My Vote team is committed to creating a tool that can help make votes fairer and more equal.
      We believe in a healthy democracy with multiple parties, and a better voting system to gauge the public's support for them.
      The platform is independent of any party and will remain so.

    %a(name="parties")
    %h2 How have you chosen which political parties to offer through Swap My Vote?

    %p

      Working out which parties to include in the swapmyvote.uk
      platform has not been straightforward: initially we prioritised
      parties that were fielding candidates in all constituencies
      across the UK. Then, particularly in the wake of 2015's Leaders
      Debates, which uncovered hidden demand for Scottish and Welsh
      parties, we added SNP and Plaid Cymru.

    %p
      Inclusion in the platform
      is currently a trade-off between simplicity and the time it
      takes to include parties; updating poll information is
      time-consuming and we are at present a small team.
    %p
      Lastly, with
      the phenomenal demand for the platform, we have been working
      hard to make sure that other aspects of the site work as well as
      possible.
    %p
      Ultimately, Swap My Vote is devotedly non-partisan and
      aspires to as fully inclusive as practically possible - thank
      you for bearing with us while we work towards this.


    - if log_in_with_facebook? || log_in_with_twitter?
      %a(name="login")
      %h2 Why do I need to log in with Facebook / Twitter / email, and not X?

      %p

        We are trying to bring an element of trust to vote swapping (see
        = link_to("the section on trust above", "#trust") + ") -"
        in order that your voting partner can have a sense of
        who you are, and vice versa, we currently ask that you either
        log in with one of the two biggest public social networks used
        in the UK (Twitter and Facebook), or via email.  This way you
        both have a chance to find out a bit about each other, and what
        kinds of issues matter to you both, effectively forming a
        mini-alliance.  We are open to other options for the future as
        platform use develops.

    - if log_in_with_facebook?
      %a(name="facebook-profile")
      %h2 Why can't I reach my swap partner's Facebook profile?

      %p

        This could be for one of a few reasons:

      %ul
        %li
          You're not in your swap partner's network of friends on Facebook.
          Unfortunately we recently discovered that Facebook have locked down
          the links to user profiles which they provide to apps, so that

          = link_to "https://developers.facebook.com/docs/facebook-login/permissions/#reference-user_link",
                    target: "_blank" do
            they only work for users who are already friends.
        %li
          Your swap partner chose not to allow the Swap My Vote app access to a
          link to their Facebook profile when they logged in to the app via
          Facebook.
        %li
          Your swap partner logged into the app through some other mechanism,
          e.g. Twitter or email.

      %p

        To help fix this problem, we are also asking everyone for
        consent to share their email address with their swap partner.

      %p
        However as a last resort, you can always consider

        = link_to "cancelling your swap", "#reset"

        and looking for another swap partner.  The little icons next to
        someone's name can help you find someone who is easier to reach
        out to.

    %a(name="trouble")
    %h2 I'm having trouble logging in - help!

    %p

      If you are having issues logging in, please check you are not
      using any browser extensions that may block data from Facebook
      or Twitter (like Adblock).


    %a(name="constituencies")
    %h2
      I want to swap with someone in a particular constituency. Please
      can you find me a swap there?

    %p

      At a general election, we show you potential voting partners in
      a range of constituencies in order to maximise the number of
      swaps available to everyone who has signed up. You can see polls
      by their names and, if you can't find a swap you are happy with,
      you can reset your voting preferences and be matched again (see
      below).

      In by-elections, there are only two constituencies in play so
      you can only swap with the opposite constituency.

    %a(name="change")
    %h2

      Can I change my mind about my voting preferences, or my other information?

    %p

      Yes, you can change at any time.  Just update your info using

      = link_to('the link that says "Not right? Update your info"',
                edit_user_path) + "."

      If you have already chosen or confirmed a swap, it will reset
      the swap, letting your partner know it has been cancelled.  You
      are then free to choose another swap.

    %a(name="reset")
    %h2 My swap hasn't been confirmed; what should I do?

    %p

      If your partner hasn't confirmed the swap, it will now
      automatically expire after #{swap_validity_hours} hours and we
      will email both parties to let them know to log in to find a new
      partner.

    %p

      However if you don't want to wait, you can

      = link_to "cancel your swap immediately", "#reset"

      as described below.

    %a(name="better")
    %h2

      The swap I’ve been offered isn’t a good one - how can I find a
      better voting partner?

    %p
      See how to

      = link_to "cancel your swap", "#reset"

      as described below.

    %a(name="reset")
    %h2 How can I reset or cancel my swap?
    %p

      Just temporarily change your voting preferences using

      = link_to 'the link that says "Not right? Update your info"',
                edit_user_path

      and it will reset the swap, letting your partner know it has
      been cancelled.  Then change them back, and you will be ready to
      choose another voting partner from the list.

    %a(name="noone")
    %h2 No-one is confirming a swap with me. What’s going on?
    %p

      People finding it hard to find a swap are often in quite safe
      seats or specify a party for whom there is not as much support or demand.
      You may find it useful to think about experimenting with
      your 'willing' party - you can update your info using the link
      that says "Not right? Update your info" and we will try to find
      you new voting partners based on the new details.

    %a(name="deactivate")
    %h2
      I have changed my mind and no longer wish to find someone to
      swap with. What should I do?

    %p
      You can

      = link_to("permanently remove your account",
                confirm_account_deletion_path) + "."

      Please note that you may no longer get emails from us with news
      on electoral reform or reminders for future elections.

    %p

      However, we

      = link_to("plan to add a feature to allow pausing of swaps",
                "https://github.com/swapmyvote/swapmyvote/issues/466")

      later on, so that this can be done temporarily without the need
      to delete your account.

    %a(name="who")
    %h2 Who made this site?

    %p

      We are a loose knit group of people who care passionately about
      making democracy work better, and believe that new technologies
      (the Internet, social media, etc) can very much play their part
      in this.

    %ul
      %li

        <a href="https://tdg.me/about">Tom de Grunwald</a> is a social
        entrepreneur and producer with a background in broadcast,
        digital storytelling, and civic technology projects. Tom is
        passionate about using technology to help defend and promote
        democracy, and to create positive social change. He has
        founded Forward Democracy to help further defend and promote
        democracy, and his consultancy focuses on digital social
        impact, working with Tech for UK, Democracy Club, Graduate
        Fog, Open Rights Group, Shared Assets, Good Law Project, and
        others.

      %li

        <a target=_blank href="http://adamspiers.org/">Adam Spiers</a> is our
        project CTO; an expert in Free and Open Source Software he
        builds tech products that help democratic engagement in his
        spare time.

      %li

        <a target=_blank href="http://jpallen.net/">James Allen</a> is the a
        co-founder and led development of the project. He also co-founded
        <a target=_blank href="https://www.sharelatex.com/">ShareLaTeX</a>, a
        collaborative platform for scientists (now part of Overleaf). He is
        interested in how technology can make people more efficient and enable
        new ways of communication and collaboration, like Swap My Vote.

      %li

        <a target=_blank
        href="https://www.linkedin.com/in/sarah-eggleston-34bb924/">Sarah
        Eggleston</a> is an enthusiastic convert to Ruby on Rails after a long
        career in Java. She is passionate about building software that is
        intuitive to use and easy to configure, and is taking time out from
        her startup <a target=_blank href="https://fflow.io">fflow</a> to
        support Swap My Vote.

      %li

        <a target=_blank href="http://kuamka.com/">Steve Baxter</a> is a
        software engineer who has been involved in a wide range of products
        and technologies, from life sciences to events management. He is
        interested in the intersection between politics and technology and
        wanted to do something positive instead of just shouting at the
        television.

      %li

        %a(target="_blank"
           href="https://www.linkedin.com/in/andyrobertscoder/")
          Andy Roberts
        is a developer with a strong ruby bias, and a dabbler in other
        programming languages. A keen amateur music maker, but sadly hobbies
        have now taken a back seat to an obsession with
        %a(target="_blank" title="Notes For An Essay on UK Reform"
           href="https://notesforukreform.herokuapp.com/")
          improving democracy in the UK.

    %p

      Tom and James had the same idea for the platform at different
      times and <a
      href="http://blog.swapmyvote.uk/post/116080891268/how-a-blog-post-became-a-platform-for-change">met
      online</a>.  The team still works together almost entirely
      remotely.

    %a(name="open")
    %h2 How can I trust this app?

    %p
      In the interests of transparency,

      = link_to "our entire codebase", github_url

      is available for peer review.  You can also scrutinise our

      = link_to("privacy policy", privacy_path) + ","

      or if those are not sufficient, you are welcome to

      = link_to("contact us", contact_path) + "."
