.plain-pattern.border-bottom
  .container
    %h1 About Swap My Vote

    %p

      Swap My Vote is powered by volunteers who care about democracy and
      electoral reform.

    %p
      If you'd like to get involved there are a number of ways you can help.


    %h2 More information

    %ul



      %li
        You can donate to our
        = link_to "Crowdfunder", "https://crowdfunder.co.uk/swapmyvote/"
        to help us get Swap My Vote to reach as many people as possible.

      %li
        You can contribute code. See our
        = link_to "contributors' guide", "http://j.mp/swapmyvote-inews2017"
        in the i Paper.

      %li
        = link_to "guide for beginners", "http://j.mp/swapmyvote-beginners"
        on how best to make Swap My Vote work for you.

      %li
        There is more information, press coverage etc, collected at this page on
        = link_to "Swap My Vote", "https://forwarddemocracy.com/swapmyvote"
        at the Forward Democracy website.

      %li
        For developers & campaigns: our
        = link_to "API", api_path
        allows your site to integrate Swap My Vote and help voters find a swap.

      %li
        In the interests of transparency,

        = link_to "our entire codebase", github_url

        is available for peer review.

      %li
        Developers are welcome to join the project.  The

        = link_to "README document"

        is the best starting point.
