.plain-pattern.border-bottom
  .container
    %h1 Privacy Policy

    %p Date this policy was last updated: November 30, 2019

    %h2(id="who") Who we are and how to contact us

    %p

      Forward Democracy Limited ("us", "we", or "our") operates the website

      = link_to("https://www.swapmyvote.uk/") + ","

      also known here as swapmyvote.

    %p

      This page informs you of our policies regarding the collection,
      use, and disclosure of personal data when you use swapmyvote and
      the choices you have associated with that data.

    %p

      We use your data to provide services and improve the
      website. When you visit our website, you agree to the collection
      and use of information in accordance with this policy and our

      = link_to("Terms of use", terms_path, target: '_blank') + "."

    %h2(id="data-collection") Information Collection And Use

    %p

      We collect several different types of information for various
      purposes to provide and improve your experience.

    %h3 Types of Data Collected

    %h4(id="personal-data") Personal Data

    %p

      While using our Service, we may ask you to provide us with
      certain personally identifiable information that can be used to
      contact or identify you ("Personal Data"). We collect Personal
      Data from you as shown below. If authorized by you, we may
      access profile and other information from services like Facebook
      and Twitter. Personally identifiable information may include,
      but is not limited to:

    %ul
      %li Voting preferences
      %li Constituency
      %li Email address
      %li Mobile phone number
      %li Facebook profile
      %li Twitter profile

    %p
      By signing up, you consent to us processing your personal data including
      your political opinions and affiliations as expressed in your voting
      preferences, and sharing this data with your proposed and confirmed swap
      partners by email or text message. We will never share anything about your
      voting preferences with anyone else or post to your social media feeds
      without your permission.

    %h4(id="data-retention") Data Retention

    %p

      Within eight weeks of an election result, we will anonymise all personal
      data relating to that election (removing name, email, phone number, and
      social media information) from our databases and delete backups from our
      records. We will retain anonymised data in perpetuity to facilitate study
      and public discussion of the effects of vote swapping.

    %p

      We will retain personal contact information (name, email, phone number,
      and social media information) where you have given permission for us to
      contact you with messages relating to democracy, electoral reform, fundraising
      and other news. This will not have any of your political opinions
      associated with it beyond an interest in these types of topics.

    %h4(id="facebook") Facebook

    %p

      When you sign up to swapmyvote with your Facebook account, you
      voluntarily share certain information from your Facebook
      profile. The details of that information depend on your Facebook
      privacy settings. Learn more at

      = link_to "Facebook's full data use policy",
                "https://www.facebook.com/full_data_use_policy",
                target: "_blank"

      and

      = link_to("Facebook's data privacy policy",
                "https://www.facebook.com/policy.php",
                target: "_blank") + "."

    %h4(id="twitter") Twitter

    %p

      When you sign up to swapmyvote with your Twitter account, you
      voluntarily share certain information from your Twitter
      profile. The details of that information depend on your Twitter
      privacy settings. Learn more at

      = link_to("Twitter's privacy policy",
                "https://twitter.com/privacy",
                target: "_blank") + "."

    %h4(id="email") Email login

    %p

      When you sign up to swapmyvote with your email address, you
      voluntarily share your email address with your proposed and
      confirmed vote swap partners.

    %h4(id="usage-data") Usage Data

    %p

      We may also collect information on how the swapmyvote website is
      accessed and used ("Usage Data"). This Usage Data may include
      information such as your computer's browser type, browser version, the
      pages of our Service that you visit, the time and date of your visit, the
      time spent on those pages, part of your Internet Protocol address
      (IP address), unique device identifiers, and other diagnostic data.

    %h4(id="cookies") Tracking and Cookie Data

    %p

      We use technologies like cookies (small files stored on your
      browser), web beacons, or unique device identifiers to identify
      your computer or device so we can deliver a better
      experience. Our systems also log information like your browser,
      operating system and part of your IP address. For more information, review
      our

      = link_to("Cookie Policy", cookies_path, target: "_blank") + "."

    %h2(id="data-use") Use of Data

    %p We use the collected data for various purposes:
    %ul
      %li To provide and maintain our website
      %li To notify you about changes to our website
      %li To allow you to participate in interactive features
      %li To provide customer care and support
      %li To provide analysis or valuable information so that we can improve our
      service
      %li To monitor the usage of the website
      %li To detect, prevent and address technical issues

    %h2(id="data-transfer") Transfer Of Data

    %p

      Your information, including Personal Data, may be transferred
      to, and maintained on, computers located outside of your state,
      province, country or other governmental jurisdiction where the
      data protection laws may differ than those from your
      jurisdiction.

    %p

      If you are located outside United Kingdom and choose to provide
      information to us, please note that we transfer the data,
      including Personal Data, to the United Kingdom and process it
      there.

    %p

      Your consent to this Privacy Policy followed by your submission
      of such information represents your agreement to that transfer.

    %p

      We store some of your personal data on industry standard
      platforms including web and email servers. Access to these
      servers is strictly controlled with strong passwords and
      multi-factor authentication. Any temporary copies of data made
      for backup, diagnostic and other purposes by team members are
      kept on devices secured by strong passwords.

    %p

      We will take all steps reasonably necessary to
      ensure that your data is treated securely and in accordance with
      this Privacy Policy and no transfer of your Personal Data will
      take place to an organization or a country unless there are
      adequate controls in place including the security of your data
      and other personal information.

    %h2(id="disclosure") Disclosure Of Data

    %h3 Legal Requirements

    %p

    We will not disclose your personal data to anyone beyond what is required
    for the provision of the service, unless in the good faith belief that such
    action is necessary to:

    %ul
      %li To comply with a legal obligation
      %li To protect and defend our rights or property
      %li To prevent or investigate possible wrongdoing in connection with
      swapmyvote
      %li To protect the personal safety of users of the website or the public
      %li To protect against legal liability

    %h2(id="security") Security Of Data

    %p

      The security of your data is important to us, but remember that
      no method of transmission over the Internet, or method of
      electronic storage is 100% secure. While we strive to use
      commercially acceptable means to protect your Personal Data, we
      cannot guarantee its absolute security.

    %h2(id="third-parties") Service Providers

    %p

      We may employ third party companies and individuals to
      facilitate our website or to assist us in analyzing how our
      website is used.

    %p

      These third parties have access to your Personal Data only to
      perform these tasks on our behalf and are obligated not to
      disclose or use it for any other purpose.

    %h3 Analytics

    %p

      We use anonymised data in aggregate to monitor usage of the
      Application and to analyse political effects.

    %p

      We use third-party Service Providers to monitor and analyze the
      use of our Service.

    %h4 Google Analytics

    %p

      We use Google Analytics to analyse the use of this
      website. Google Analytics generates statistical and other
      information about website use by means of cookies, which are
      stored on users' computers. The information generated relating
      to our website is used to create reports about the use of the
      website. Google will store this information. Using the Google
      Ads Settings, visitors can opt out of Google Analytics for
      Display Advertising and customize Google Display Network ads.
      For more information, visit

      = link_to("Google's privacy policy",
                "http://www.google.com/policies/privacy/",
                target: "_blank") + "."

    %h4 Mailchimp

    %p

      We use Mailchimp for communicating outside the platform. By
      opting in to hear from us in this way, you acknowledge that your
      information will be transferred to Mailchimp for
      processing. Learn more at

      = link_to("Mailchimp's legal policy",
                "https://mailchimp.com/legal/",
                target: "_blank") + "."

    %h2(id="closing") Closing your account

    %p
      You can

      = link_to("permanently remove your account", confirm_account_deletion_path)

      from the Swap My Vote Application. Your details will be removed
      entirely from the Application databases and you will no longer
      receive emails or SMS messages aimed at helping you find a
      voting partner.

    %p
      Within eight weeks of an election result, we will anonymise all personal
      data relating to that election (removing name, email, and social media
      information) from our databases and delete backups from our records.
      We will retain anonymised data in perpetuity to facilitate study and
      public discussion of the effects of vote swapping.

    %p

      If you have opted to receive news from us about electoral
      reform, digital democracy tools, fundraising, and reminders for
      future elections, you can unsubscribe at any time from the
      unsubscribe link in the email footer.


    %h2(id="external-links") Links To Other Sites

    %p

      Our Service may contain links to other websites that are not
      operated by us. If you click on a third party link, you will be
      directed to that third party's website. We strongly advise you
      to review the Privacy Policy of every website you visit.

    %p

      We have no control over and assume no responsibility for the
      content, privacy policies or practices of any third party
      websites or services.

    %h2(id="children") Children's Privacy

    %p

      To be able to register to vote, UK citizens must be aged 16 (or 14 in
      Scotland). We do not knowingly contact or collect personal information
      from children under 13. If you believe we have inadvertently collected
      such information, please contact us so we can promptly obtain parental
      consent or remove the information. If we become aware that we have
      collected Personal Data from children without verification of parental
      consent, we take steps to remove that information from our servers.

    %h2(id="changes") Changes To This Privacy Policy

    %p

      We may update our Privacy Policy from time to time. We will
      notify you of any changes by posting the new Privacy Policy on
      this page, and update the "last updated date" at the top.

    %p

      We will let you know of any significant changes to the Policy
      via email or a prominent notice on our website.

    %p

      You are advised to review this Privacy Policy periodically for
      any changes. Changes to this Privacy Policy are effective when
      they are posted on this page.

    %h2(id="contact") Contact Us

    %p

      If you have any questions about this Privacy Policy, please contact us
      by email at hello@swapmyvote.uk.

    %h2(id="controller") Owner and Data Controller

    %address
      Forward Democracy Limited
      %br/
      Studio Microclimate
      %br/
      Great Northern Road
      %br/
      Cambridge
      %br/
      United Kingdom
      %br/
      CB1 2FX

    %p
      Owner contact email: admin@forwarddemocracy.com
