%h3.text-center
  #{user.swapped_with.redacted_name} would like to swap their vote with you!

%p
  .smv-card.profile
    = render partial: "user/swaps/swap_profile",
      locals: {other_user: user.swapped_with}

= render partial: "user/swaps/double_check_constituency",
    locals: { swap_with: user.swapped_with}

%p.text-center
  - if current_user.mobile_verification_missing?

    .mobile-phone.text-center
      %p
        You must verify your mobile number before you swap.
      = form_for user, url: user_path, class: "text-center" do
        = render partial: 'mobile_phone/form',
                 locals: {mobile_number: mobile_number}

  - else

    %p.text-center
      Please confirm that you would like to swap
      with #{user.swapped_with.redacted_name}.
    %p.text-center
      = form_tag user_swap_path, class: "form-inline", method: "put" do
        = hidden_field_tag 'swap[confirmed]', true
        .form-group.form-check.mx-auto
          %input{ type: "hidden", id: "swap_dummy",
                  name: "swap[dummy]", value: "dummy" }
          %input.form-check-input{ type: "checkbox", id: "consent-check",
                                   name: "swap[consent_share_email_chosen]" }
          %label.form-check-label{ for: "consent-check" }
            I understand that my email address will be shared with #{user.swapped_with.redacted_name}

        %p.text-center{ style: "width: 100%" }
          = button_tag "Swap with #{user.swapped_with.redacted_name}", class: 'btn btn-primary'

  .text-center
    = link_to "I'd prefer to swap with someone else", "#", class: "small subdued",
      onclick: "$('#js-reject-modal').modal(); return false"

.modal#js-reject-modal{ tabindex: "-1", role: "dialog" }
  .modal-dialog
    .modal-content
      .modal-body
        %p
          Are you sure you want to reject #{user.swapped_with.redacted_name}?
        %p.subdued.small
          Some voting preferences are in high demand, and we can't be sure that we'll
          find anyone else to swap with if you turn
          down #{user.swapped_with.redacted_name}.
      .modal-footer
        %button.btn.btn-secondary{ :data => { dismiss: "modal" }, :aria => { label: "Close" } }
          Cancel
        = link_to "Reject", user_swap_path, method: "delete", class: "btn btn-primary"
