%h3.text-center
  You've asked to swap your vote with #{user.swapped_with.redacted_name}!

%p
  .smv-card.profile
    = render partial: "user/swaps/swap_profile",
    locals: {other_user: user.swapped_with}

%p.text-center
  %i.fa.fa-fw.fa-hourglass-half
  We're just waiting for #{user.swapped_with.redacted_name} to confirm the
  swap!

  - if user.email.blank?

    Keep checking back here, or
    = link_to("set an email address", edit_user_path)
    so that we can keep you posted.

  - else

    When they do we'll send you an email.

- if user.consented_to_share_email?
  %p.text-center
    You have opted to share your email address
    with #{user.swapped_with.redacted_name}.
    When they confirm the swap, they will be notified of your email address.
- else
  %p.text-center
    We encourage you to share your email address
    with #{user.swapped_with.redacted_name}.
    When they confirm the swap, they will be notified of your email address.
  %p.text-center
    = form_tag user_swap_path, class: "form-inline", method: "put" do
      .form-group.form-check.mx-auto
        %input{ type: "hidden", id: "swap_dummy",
          name: "swap[dummy]", value: "dummy" }
        %input.form-check-input{ type: "checkbox", id: "swap_consent_share_email_chooser",
          name: "swap[consent_share_email_chooser]", value: "true" }
        %label.form-check-label{ for: "swap_consent_share_email_chooser" }
          I understand that my email address will be shared with #{user.swapped_with.redacted_name}

      %p.text-center{ style: "width: 100%" }
        = button_tag "Share with #{user.swapped_with.redacted_name}", class: 'btn btn-primary'


%p.text-center

  If we don't hear back from them in #{swap_validity_hours} hours,
  we'll cancel the swap and you can pick someone else.

%h3.text-center
  In the meantime…

%p.text-center
  Why not spread the word to encourage more people to join?

= render partial: 'user/share/social'
