%h3.text-center
  #{@user.swapped_with.redacted_name} would like to swap their vote with you!

%p
  .card.profile
    = render partial: "user/swaps/swap_profile", object: @user.swapped_with, as: "other_user"

= render partial: "user/swaps/double_check_constituency", locals: { swap_with: @user.swapped_with }


%p.text-center
  - if @user.phone_verified?
    %p.text-center
    Please confirm that you would like to swap with #{@user.swapped_with.redacted_name}.
    = link_to "Yes please!", user_swap_path("swap[confirmed]" => "true"), method: "put", class: "button"
  - else
    %p.text-center
      You must verify your phone number before you swap
    = form_for @user, url: user_path do
      = render partial: 'mobile_phone/form'


%p.text-center
  = link_to "No thanks", "#", class: "small subdued", onclick: "showModal($('.js-reject-modal')); return false"


.modal.js-reject-modal{style: "display: none"}
  .modal-dialog
    %i.fa.fa-times.subdued.modal-close
    %p.text-center
      Are you sure you want to reject #{@user.swapped_with.redacted_name}?
    %p.subdued.small.text-center
      Some voting preferences are in high demand, and we can't be sure that we'll
      find anyone else to swap with if you turn down #{@user.swapped_with.redacted_name}
    %p.text-center
      = link_to "Reject", user_swap_path, method: "delete", class: "button"
