%h3.text-center
  You've swapped your vote with #{@user.swapped_with.name}!

%p
  .smv-card.profile
    = render partial: "user/swaps/swap_profile", object: @user.swapped_with, as: "other_user"

%p.text-center
  #{@user.swapped_with.name} will vote
  %strong= @user.swapped_with.willing_party.name
  in
  %strong= @user.swapped_with.constituency.name
  for you, and you will vote
  %strong= @user.willing_party.name
  in
  %strong= @user.constituency.name
  for #{@user.swapped_with.name}.

%p.text-center.small.text-success
  %i.fa.fa-fw.fa-check
  #{@user.swapped_with.name} has confirmed the swap. You're all set!

%p.text-center
  - if @user.swapped_with.social_profile? && @user.swap_email_consent?
    You can reach out to
    = link_to "#{@user.swapped_with.name} on social media", @user.swapped_with.profile_url
    or by email at
    = link_to @user.swapped_with.email, @user.swapped_with.email_url
    to get to know your swap partner.
  - elsif @user.swapped_with.social_profile?
    You can reach out to
    = link_to "#{@user.swapped_with.name} on social media", @user.swapped_with.profile_url
    to get to know your swap partner.
  - elsif @user.swap_email_consent?
    You can reach out to #{@user.swapped_with.name} by email at
    = link_to @user.swapped_with.email, @user.swapped_with.email_url
    to get to know your swap partner.
  - else
    Unfortunately #{@user.swapped_with.name} has not shared their email address or
    social media profile.
