%h3.text-center
  You've swapped your vote with #{@user.swapped_with.name}!

%p
  .smv-card.profile
    = render partial: "user/swaps/swap_profile", object: @user.swapped_with, as: "other_user"

%p.text-center
  #{@user.swapped_with.name} will vote
  %strong= @user.swapped_with.willing_party.name
  in
  %strong= @user.swapped_with.constituency.name
  for you, and you will vote
  %strong= @user.willing_party.name
  in
  %strong= @user.constituency.name
  for #{@user.swapped_with.name}.

%p.text-center.small.text-success
  %i.fa.fa-fw.fa-check
  #{@user.swapped_with.name} has confirmed the swap. You're all set!

- if @user.my_email_consent?
  %p.text-center
    You have shared your email address
    with #{@user.swapped_with.name}.
- else
  %p.text-center
    We encourage you to share your email address
    with #{@user.swapped_with.name}.
  %p.text-center
    = form_tag user_swap_path, class: "form-inline", method: "put" do
      .form-check.mx-auto
        %input{ type: "hidden", id: "swap_dummy",
          name: "swap[dummy]", value: "dummy"}
        %input.form-check-input{ type: "checkbox", id: "consent-check",
                                name: "swap[consent_share_email]", value: "true"}
        %label.form-check-label{ for: "consent-check" }
          Share my email address with #{@user.swapped_with.name}

      %p.text-center{style: "width: 100%"}
        = button_tag "Share with #{@user.swapped_with.name}", class: 'btn btn-primary'


%p.text-center
  = render partial: "users/show/reach_out_to_swap",
           locals: { swap_user: @user.swapped_with }
