.background-pattern.border-bottom
  .container.container-narrow
    - if mobile_verified?
      .card
        .card-header
          %h1.h4.mb-0 Already verified!

        .card-body
          %p
            Your mobile phone number has already been verified.
          = button_to "Continue", user_path, class: "btn btn-primary"

    - else
      .card
        .card-header
          %h1.h4.mb-0 Verifying phone number

        .card-body
          - if flash[:messagebird_error]

            %p.text-error
              = flash[:messagebird_error]

            %p
              We have requested a new 6 digit code for you. When it
              arrives, please enter the new code carefully here:

          - else
            %p
              A verification code was sent to #{current_user.mobile_number}.

            %p
              Please enter the 6 digit code you received here:

          = form_tag verify_token_path, class: "verify-token form-inline" do

            = text_field_tag 'token', nil, class: "mobile-token form-control mr-2",
                pattern: "[0-9]{6}", maxlength: 6, required: true,
                oninvalid: "setCustomValidity('Please enter 6 digits')",
                oninput: "setCustomValidity('')"
            = button_tag "Verify", class: 'btn btn-primary'

          %p
            If you do not receive it within 5 minutes, you can try
            = link_to("re-sending", verify_mobile_path) + "."
