%p
  Hi #{@user.name},

%p

  Good news! #{@swap_with.redacted_name} would like to swap their vote
  and will vote for your preferred party if you vote for theirs, in
  your constituency!

%p

  = link_to "Click here to confirm this swap!", user_url(log_in_with: @user.provider)

%p

  Please confirm this swap as soon as possible, as it will
  expire at latest in the next #{swap_validity_hours} hours, and
  potentially sooner as we get closer to the end of the election.
  Votes for your preferred party are in demand, so if you don't
  confirm this swap, we may not be able to find you someone else to
  swap with.

%p

  If for any reason you don't wish to swap with
  #{@swap_with.redacted_name}, you can find new potential voting
  partners by simply updating your info using the link that says "Not
  right? Update your info". This will reset the swap, letting your
  partner know it has been cancelled. You are then free to select
  another voting partner from the list.

%p

  Lastly, why not share Swap My Vote with your social networks so that more people can make their vote count?

  = render partial: "social_media_im_using_links"
%p
  To a better democracy!
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=confirm_swap&utm_campaign=site">Swap My Vote</a>
  %br
  = render partial: "footer_fixed_links"
