%p
  Hi #{@user.name},
%p
  Good news! #{@swap_with.name} is going swap their vote with you.
  They've now shared their email address with with you:

%p
  = mail_to @swap_with.email

%p
  Why not reach out and say hi?

%p
  And don't forget to share Swap My Vote with your social networks so
  that more people can make their vote count:

  = render partial: "social_media_im_using_links"
%p
  To a better democracy!
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=confirm_swap&utm_campaign=site">Swap My Vote</a>
  %br
  = render partial: "footer_fixed_links"
