%p
  Hi #{@user.name},
%p
  Good news! #{@user.swapped_with.name} has voted
  %strong for your preferred party in #{@user.swapped_with.constituency.name}!
%p
  If you haven't done so already,

  = link_to "please let us know", user_vote_url(log_in_with: @user.provider)

  when you've voted on behalf of #{@user.swapped_with.name} in
  #{@user.constituency.name}.

  = link_to "You can do that by clicking here.", user_vote_url(log_in_with: @user.provider)
%p
  All the best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=partner_has_voted&utm_campaign=site">Swap My Vote</a>
  %br
  <a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow us on Twitter</a>
  %br
  <a href="https://facebook.com/swapmyvote">Like us on Facebook</a>
  %br
  <a href="https://crowdfunder.co.uk/swapmyvote">Support us on Crowdfunder</a>
