%p
  Hi #{@user.name},

%p

  The Wakefield and Tiverton & Honiton 2022 by-elections
  are now open!

  = user_profile_link(@user.swapped_with)

  is going to vote for your party, in the
  #{@user.swapped_with.constituency.name} constituency.

%p

  In return, you've agreed to vote for their preferred party in your
  constituency (#{@user.constituency.name}).

%p
  Once you've done so,
  = link_to "please let #{@user.swapped_with.name} know you've voted!", user_vote_url(log_in_with: @user.provider)
%p
  All the best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=reminder_to_vote&utm_campaign=site">Swap My Vote</a>
  %br
  = render partial: "footer_fixed_links"
