%p
  Hi #{@user.name},
%p
  The 2017 General Election Polls are open!
  %a{:href => @user.swapped_with.profile_url} #{@user.swapped_with.name}
  is going to vote #{@user.swapped_with.willing_party.name} for you,
  in the #{@user.swapped_with.constituency.name} constituency.
%p
  In return, you've agreed to vote #{@user.willing_party.name}
  in your constituency (#{@user.constituency.name}). Once you've done so,
  = link_to "please let #{@user.swapped_with.name} know you've voted!", user_vote_url(log_in_with: @user.provider)
%p
  All the best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=reminder_to_vote&utm_campaign=site”>Swap my Vote</a>
  %br
  <a href="https://twitter.com/intent/follow?screen_name=swapmyvote”>Follow Swap my Vote on Twitter</a>
  %br
  <a href="http://facebook.com/swapmyvote”>Like Swap my Vote on Facebook</a>

