%p
  Hi #{@user.name},
%p

  You're all set to swap your vote with

  = user_profile_link(@swap_with) + "!"

%p
  #{@swap_with.name} is going to vote for your preferred party for
  you, in the #{@swap_with.constituency.name} constituency.  In
  return, you will vote for their preferred party in your constituency
  (#{@user.constituency.name}).

- unless voting_open?
  %p

    We'll send some reminders to #{@swap_with.name} to remind them to
    vote for your chosen party, and we'll ask them for confirmation
    once they have.

%p
  = render partial: "shared/reach_out_to_swap",
           locals: { user: @user, swap_user: @swap_with }

%p

  Lastly, why not share Swap My Vote with your social networks so that
  more people can make their vote count?

  = render partial: "social_media_im_using_links"
%p
  To a better democracy!
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=swap_confirmed&utm_campaign=site">Swap My Vote</a>
  %br
  = render partial: "footer_fixed_links"
