%p
	Hi #{@user.name},
%p
	You're all set to swap your vote with
	%a{:href => @swap_with.profile_url} #{@swap_with.name}!
	#{@swap_with.name} is going to vote for the #{@swap_with.willing_party.name} party for you, in the #{@swap_with.constituency.name} constituency.
	In return, you will vote for the #{@swap_with.preferred_party.name} party in your constituency (#{@user.constituency.name}).
%p
	We'll send some reminders to #{@swap_with.name} to remind them to vote for your chosen party on June 8th, and we'll ask them for confirmation once they have.
	In the meantime, why not 
	%a{:href => @swap_with.profile_url} reach out to #{@swap_with.name} directly?

%p
	Lastly, why not share Swap my Vote with your social networks so that more people can make their vote count?

	<a href="https://twitter.com/intent/tweet?text=Join%20me%20in%20making%20our%20votes%20count%20for%20more%20at%20http://swapmyvote.uk">Tweet</a> 
	<a href="https://www.facebook.com/sharer/sharer.php?app_id=377810399053422&u=https%3A%2F%2Fwww.swapmyvote.uk&sdk=joey&display=popup&ref=plugin">Share on Facebook</a> 
%p
	To a better democracy!
	%br
	Swap My Vote Team
%p
	<a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=swap_confirmed&utm_campaign=site”>Swap my Vote</a>
	%br
	<a href="https://twitter.com/intent/follow?screen_name=swapmyvote”>Follow Swap my Vote on Twitter</a>
	%br
	<a href="http://facebook.com/swapmyvote”>Like Swap my Vote on Facebook</a>
