%p{ class: "party-recommendation #{rec.site.id}" }
  - if rec.match != :unknown
    - if rec.match == :good
      &#x2705
    = link_to rec.site.name, rec.site.link, :title => "#{rec.site.name}: \"#{rec.site.meta_desc}\""
    recommend
    = rec.recommendation.text
  - else
    = link_to rec.site.name, rec.site.link, :title => "#{rec.site.name}: \"#{rec.site.meta_desc}\""
    has no recommendation
