.background-pattern
  .container
    %h1 Swap My Vote Stats
    .card
      %p
        Users: #{@user_count}
      %p
        Swaps: #{@swap_count}
      %p
        Confirmed: #{@confirmed_swap_count}
      %h3 Swap Preferences
      %p
        %table
          %tr
            %th
            %th
              Willing Party
          %tr
            %th Preferred Party
            - for party in @parties
              %th #{party.name}
          - for row, i in @swaps_matrix.each_with_index
            %tr
              %th #{@parties[i].name}
              - for entries in row
                %td #{entries}
