%p
  - polls_percent = poll.marginal_score/100.0
  - percent_score = (polls_percent >= 9 ? "%d%%" : "%.1g%%") % [polls_percent]
  - if poll.marginal_score < 1000
    - lead_trail = poll.signed_marginal_score.positive? ? "leading" : "only trailing the leading party"
    &#x2B50; Looks like this swap could make a difference for
    = party.name
    who are
    = lead_trail
    by
    = percent_score
    in the polls.
  - elsif poll.signed_marginal_score.positive?
    Looks like this swap may be supporting a safe win for
    = party.name
    who are currently leading by
    = percent_score
    in the polls.
  - else
    = party.name
    are trailing by
    = percent_score
    in the polls and may still lose despite this swap.
