- if defined? link_to_swap and link_to_swap
  = link_to new_user_swap_path(user_id: other_user.id), class: "profile" do
    = render partial: "user/swaps/swap_profile_inner", locals: { other_user: other_user }
- else
  .profile
    = render partial: "user/swaps/swap_profile_inner", locals: { other_user: other_user }

- unless other_user.constituency.nil?
  %h6.text-center.mt-2
    Does this help your vote count ?
  .profile-recommendations.text-center.smv-card
    .recommendations-header
      Tactical Recommendations
    - recommendations = recommendations_for(other_user.constituency)
    = render :partial => 'recommendations/recommendation', :collection => recommendations
  :javascript
    drawPollChart("poll_#{other_user.id}", #{poll_data_for(other_user.constituency)});
