%img.profile-img{ src: other_user.image_url }
.profile-content{ class: [hide_polls? ? 'without-polls' : 'with-polls'] }
  .profile-name= other_user.redacted_name

  .profile-icons
    - if other_user.mobile_phone_verified?
      %i.fa.fa-phone{ title: "Phone number verified" }
    - if other_user.provider == "twitter"
      %i.fa.fa-twitter{ title: "Twitter account verified" }
    - if other_user.provider == "facebook"
      %i.fa.fa-facebook{ title: "Facebook account verified" }
    - if other_user.email.present?
      %i.fa.fa-envelope{ title: "Email address potentially available" }

  .subdued
    in #{other_user.constituency.try(:name) or "Unknown?"}

  .profile-votes
    Will vote
    %strong= other_user.willing_party.name
    if you vote
    %strong= other_user.preferred_party.name

- if !hide_polls? && !other_user.constituency.nil?
  .profile-poll
    .text-center.small
      Predicted GE2024 results for #{other_user.constituency.try(:name) or "Unknown"}
    .poll-chart{ id: "poll_#{other_user.id}" }
