%img.profile-img{src: other_user.image}
.profile-content
  .profile-name= other_user.name
  .profile-constituency.subdued
    in #{other_user.constituency.name}
  .profile-votes
    Will vote
    %strong= other_user.willing_party.name
    if you vote
    %strong= other_user.preferred_party.name
.profile-poll
  .text-center.small
    Polls in #{other_user.constituency.name}
  %div{id: "poll_#{other_user.id}"}
:javascript
  drawPollChart("poll_#{other_user.id}", #{poll_data_for(other_user.constituency)});