.profile.d-flex
  = render partial: "user/swaps/swap_profile_inner", locals: { other_user: other_user }

- poll_data = poll_data_for(other_user.constituency)

- if !hide_polls? && !other_user.constituency.nil? && poll_data != "" and poll_data != "[]"
  :javascript
    drawPollChart("poll_#{other_user.id}", #{poll_data});
- unless other_user.constituency.nil?
  - recommendations = fullest_recommendations_for(other_user.constituency, other_user.willing_party)
  - poll = other_user.constituency.polls.detect { |poll| poll.party_id == other_user.willing_party.id }
  - if recommendations.size > 0 || !poll.nil?
    %h6.text-center.mt-2
      Does this help your vote count ?
    - unless poll.nil?
      .profile-recommendations.text-center.smv-card
        = render :partial => 'user/swaps/polls_advice', locals: { poll: poll, party: other_user.willing_party }
    - if recommendations.size > 0
      .profile-recommendations.text-center.smv-card
        .recommendations-header
          Tactical Voting Recommendations for
          = other_user.constituency.name
        = render :partial => 'recommendations/party_recommendation', :collection => recommendations, :as => :rec
- if defined? link_to_swap and link_to_swap
  .d-flex.justify-content-center
    = link_to "Offer to swap", new_user_swap_path(user_id: other_user.id), class: "btn btn-primary"
