:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  function drawPollChart(selector, poll_data) {
    var data = google.visualization.arrayToDataTable([
      ['Party', 'Votes', { role: "style" }]
    ].concat(poll_data));
    
    max = Math.max(poll_data.map(function(d) { return d[1] }));

    var options = {
      hAxis: { textPosition: 'none' },
      vAxis: {
        textPosition: 'none',
        gridlines: {
          color: 'transparent'
        },
        viewWindow: {
          min: 0, max: max
        }
      },
      legend: { position: "none" },
      bar: { groupWidth: '90%' },
      chartArea: {
        width: '60%',
        height: '80%'
      },
      height: 120,
      tooltip: {
        textStyle: {
          fontSize: 12,
          fontName: "Open Sans"
        }
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById(selector));

    chart.draw(data, options);
  }

.background-pattern
  .container.container-narrow
    %p.text-center
      Who would you like to swap your vote with?
    %p.text-center.small.subdued
      Consider their constituency to make your vote count for the most!
    .spacer
    %p
      - for swap in @user.potential_swaps(3)
        .card.profile
          %img.profile-img{src: swap.image}
          .profile-content
            .profile-name= swap.name
            .profile-constituency.subdued
              in #{swap.constituency.name}
            .profile-votes
              Will vote
              %strong= @user.preferred_party.name
              if you vote
              %strong= @user.willing_party.name
          .profile-poll
            .text-center.small
              Polls in #{swap.constituency.name}
            %div{id: "poll_#{swap.id}"}
            :javascript
              drawPollChart("poll_#{swap.id}", #{poll_data_for(swap.constituency)});
          
