= javascript_pack_tag "intlTelInput"
= stylesheet_pack_tag "intlTelInput"

.background-pattern.border-bottom
  .container.container-narrow
    - if @user.swapped?
      %p.text-center.text-warning.small
        Warning: Changing your party preferences or constituency will undo any swap that
        you have agreed to.

    = form_for @user, url: user_path do |f|
      %p
        My preferred party is
        = f.collection_select :preferred_party_id, @parties,
                              :id, :name, prompt: "...",
                              selected: @user.preferred_party_id

      %p
        but I'm willing to vote for
        = f.collection_select :willing_party_id, @parties,
                              :id, :name, prompt: "...",
                              selected: @user.willing_party_id

      %p
        My Postcode is
        %input#txtPostcode{:placeholder => "Postcode", :type => "text"}/
        %input#btnPostcode{:type => "button", :value => "Search"}/

        #text.text-error

      %p.small.subdued
        Enter your postcode only to find your constituency, we do not retain this info.


      %p
        My constituency is
        = f.collection_select :constituency_ons_id, @constituencies,
                              :ons_id, :name, prompt: "...",
                              selected: @user.constituency_ons_id

      %p
        My email address is
        = f.email_field :email, placeholder: "me@example.com", autofocus: true

      %p
        My phone number is
        = telephone_field_tag "mobile_phone[number]", @mobile_number

        - if @mobile_number.present?
          - if mobile_verified?
            Verified!
          - else
            = button_tag "Verify", formaction: verify_mobile_path,
                         formmethod: :get

      %p.subdued.small

        We only need your email to let you know when we've found a
        swap partner for you, and your phone number to prevent
        people creating fake accounts. No spam, and your details
        will stay private with us.

      %p.text-center
        = submit_tag("Save", class: "button")

    %hr
      %p.small.subdued
        If you no longer want to take part in Swap My Vote, you can delete your account
        =link_to "here", confirm_account_deletion_path

:javascript
  $(document).on('click','#btnPostcode',function(){
      console.log('button clicked');
      var input = $('#txtPostcode').val();
      var url  = "https://api.postcodes.io/postcodes/"+input;

      post(url).done(function(postcode){
        displayData(postcode);
      });
  });

  //enter event - search
  $("#txtPostcode").keypress(function(e) {
    if (e.which === 13) {
      $('#btnPostcode').click();
    }
  });

  //display results on page
  function displayData(postcode){
    var html = "";
    var onsId = postcode['result']['codes']['parliamentary_constituency'];
    var name = postcode['result']['parliamentary_constituency'];

    $('select#user_constituency_ons_id').val(onsId).change(); // this SHOULD change the dropdown
    $('.constituency-autocomplete-input').val(name);

    // $('#text').hide();
    // html += `Your constituency name is ${name} and the code is ${onsId}`;
    // $('#text').html(html).fadeIn(300);
  }

  //ajax call
  function post(url){
      return $.ajax({
          url: url,
          success: function(){
            //woop
          },
          error: function(desc, status, err) {
              if (desc.status == 404 || desc.status == 400) {
                $('#text').html(JSON.parse(desc.responseText).error );
              } else {
                $('#text').html("Postcode Service Error Details: " + desc.responseText);
              }
          }
      });
  }
