= javascript_pack_tag "intlTelInput"
= stylesheet_pack_tag "intlTelInput"
= javascript_pack_tag "postcodesHelper"

.background-pattern.border-bottom
  .container.container-narrow
    .card
      .card-header
        %h2.h4.mb-0
          Edit profile
      .card-body
        = form_for @user, url: user_path do |f|
          .form-group
            %label.mb-0 My preferred party is
            = f.collection_select :preferred_party_id, @parties,
                                  :id, :name,
                                  { prompt: "...",
                                    selected: @user.preferred_party_id },
                                  { class: "form-control" }

          .form-group
            %label.mb-0 but I'm willing to vote for
            = f.collection_select :willing_party_id, @parties,
                                  :id, :name,
                                  { prompt: "...",
                                    selected: @user.willing_party_id },
                                  { class: "form-control" }

          = render partial: "postcode_field"

          .form-group
            %label.mb-0 My constituency is
            %br
            = f.collection_select :constituency_ons_id, @constituencies,
                                  :ons_id, :name,
                                  { prompt: "...",
                                    selected: @user.constituency_ons_id },
                                  { class: "form-control" }

          .form-group
            = render partial: "users/email_field", locals: { f: f }

          = render partial: 'mobile_phone/form',
            locals: {mobile_number: @mobile_number}

          %p.subdued.small
            = render partial: "why_need_email"

            We need your phone number to help prevent people creating fake
            accounts.

            = link_to "Your details will stay private with us.", privacy_path

          - if @user.swapped?
            .alert.alert-danger.small
              - if voting_info_locked?

                It's election day and you've already confirmed
                your swap, so your party preferences and constituency
                are currently locked

              - else

                Changing your party preferences or constituency
                will undo any swap that you have agreed to

          %p.text-center
            = submit_tag("Save", class: "btn btn-primary")

        %hr
          %p.small.subdued
            If you no longer want to take part in Swap My Vote, you can
            = link_to("delete your account",
                      confirm_account_deletion_path) + "."
