- if @identity
  - @identity.errors.full_messages.each do |msg|
    %li
      = msg

= @identity

= form_tag '/auth/identity/register' do |f|
  = text_field_tag :email
  = password_field_tag :password
  = password_field_tag :password_confirmation
  = submit_tag
