= javascript_pack_tag "intlTelInput"
= stylesheet_pack_tag "intlTelInput"

.plain-pattern.border-bottom
  .container
    %p.text-center
      PLEASE TAKE A MOMENT TO REVIEW THIS.
      This is how you will appear to potential swap partners.
      Check how your selection of
      = @user.willing_party.name
      as the party you are willing to vote for affects this profile.
    %p.text-center
      You may want, if you are flexible, to change your selection of willing party get a better chance of swapping

.background-pattern.border-bottom
  .container.container-narrow
    .smv-card.profile
      = render partial: "user/swaps/swap_profile", locals: { other_user: @user }
    = render partial: "user/swaps/double_check_constituency", locals: { swap_with: @user }

.plain-pattern.border-bottom
  .container
    %p.text-center
      = link_to "I want to change my profile", edit_user_path, class: "btn btn-primary"
      = link_to "This is right, show me the swaps", user_path, class: "btn btn-primary"
