= javascript_pack_tag "intlTelInput"
= stylesheet_pack_tag "intlTelInput"

.plain-pattern.border-bottom
  .container
    %p.text-center
      This is how the vote swap you're offering will appear for potential voting partners.
      The party you are willing and offering to vote for in your constituency can have a strong affect on your swap options.
      If you are happy to offer to swap a vote for other parties, it can sometimes improve your swap options.
    %p.text-center
      %strong
        Do you want to proceed with this party, or change your offered vote?
    %p.text-center
      = link_to "Proceed", user_path, class: "btn btn-primary"
      = link_to "Change", edit_user_path, class: "btn btn-primary"

.background-pattern.border-bottom
  .container.container-narrow
    .smv-card.profile
      = render partial: "user/swaps/swap_profile", locals: { other_user: @user }
    = render partial: "user/swaps/double_check_constituency", locals: { swap_with: @user }
