= javascript_pack_tag "intlTelInput"
= stylesheet_pack_tag "intlTelInput"

.plain-pattern.border-bottom
  .container.container-narrow

    %p.text-center
      - poll = @user.constituency.polls.detect { |poll| poll.party_id == @user.willing_party.id }
      = render partial: "user/swaps/polls_advice_self", locals: { poll: poll, party: @user.willing_party }
    %p.text-center
      %strong
        Do you want to proceed with this party, or change your offered vote?
    %p.text-center
      = link_to "Proceed", user_path, class: "btn btn-primary"
      = link_to "Change", edit_user_path, class: "btn btn-primary"

.background-pattern.border-bottom
  .container.container-narrow
    .smv-card.profile
      = render partial: "user/swaps/swap_profile", locals: { other_user: @user }
    = render partial: "user/swaps/double_check_constituency", locals: { swap_with: @user }
