= javascript_pack_tag "intlTelInput"
= stylesheet_pack_tag "intlTelInput"

.background-pattern.border-bottom
  .container.container-narrow
    - if @user.swap_confirmed?
      = render partial: "users/show/swap_confirmed",
        locals: {user: @user}
    - elsif @user.outgoing_swap
      = render partial: "users/show/confirm_outgoing_swap",
        locals: {user: @user}
    - elsif @user.incoming_swap
      = render partial: "users/show/confirm_incoming_swap",
        locals: {user: @user, mobile_number: @mobile_number}

= render partial: "users/info_summary"
