.background-pattern.border-bottom
  .container.container-narrow
    - if @user.swap_confirmed?
      = render partial: "users/show/swap_confirmed"
    - elsif @user.outgoing_swap
      = render partial: "users/show/confirm_outgoing_swap"
    - elsif @user.incoming_swap
      = render partial: "users/show/confirm_incoming_swap"
    - else
      = render partial: "users/show/searching_for_swap"

.plain-pattern.border-bottom
  .container
    %p.text-center
      Your preferred party is 
      %strong= @user.preferred_party.try(:name) || "?"
      but you are willing to vote for&nbsp;
      %strong> #{@user.willing_party.try(:name) || "?"}
      \. You are in&nbsp;
      %strong> #{@user.constituency.try(:name) || "?"}
      \.
    %p.small.text-center
      %a{href: edit_user_path} Not right? Update your info
      
