<div class="background-pattern border-bottom">
  <div class="container container-extra-narrow">
    <div class="card">
      <div class="card-header">
        <h2 class="h4 mb-0">Reset password</h2>
      </div>

      <div class="card-body">
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="form-group required">
            <%= f.label :email, class: "mb-0" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Send reset instructions", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>