.background-pattern.border-bottom
  .container.container-narrow
    .card
      %h2 #{election_date_and_type_my.titleize} Update

      %p

        We have updated the Swap My Vote platform for the
        - if general_election?
          #{election_date_season_type.titleize}!
        - else
          two
          by-elections to be held this #{election_season} on #{election_date_md}:
          #{by_election_constituencies_as_sentence}.

        We aim to open for
        vote swapping soon!

      %p

        Please enter your email address for a reminder when vote
        swapping is open, and for further updates.

      = render partial: "actionnetwork"

      %hr

      %p.text-center
        Stay up to date with our future projects and for future elections.
        %br
        = link_to "Follow us on Twitter", "https://twitter.com/swapmyvote", class: "button button-twitter"
        = link_to "Like us on Facebook", "https://www.facebook.com/swapmyvote", class: "button button-facebook"
      -# Keep this here for the next General Election!
        %p.text-center
          Make sure you don't miss out -
          = link_to "register to vote now!", "https://gov.uk/register-to-vote"
