.background-pattern.border-bottom
  .container.container-narrow
    .card
      %h2
        #{election_event_title_with_year}
        = general_election? ? "is" : "are"
        a wrap!

      %p

        We closed swaps shortly before the polls closed, and are now
        looking forward to see the results.

      -# Review this line depending on when we closed for swaps!
                  We closed swaps shortly before the polls opened,
                  and are now looking forward to see the results.

      %p
        We will run SwapMyVote again for the next elections,
        whenever that turns out to be.

      %p
        %strong Thank you so much

        for taking part!  But the work doesn’t stop here. The team
        behind Swap My Vote -

        = link_to("Forward Democracy", "https://forwarddemocracy.com",
                  target: "_blank")

        \- will continue to develop ways to defend and develop our
        democracy, that most precious, powerful, and fragile of
        things.

      %p

        Please enter your email address for reminders when we open
        again for swaps; for updates, news, and campaigns to help
        to defend and develop democracy; electoral reform and digital
        democratic tools. You can unsubscribe at any time from the
        link in the footer of any of these emails.

      = render partial: "actionnetwork"

      - if donate_info[:show]
        %p
          Please help support our continued work on Swap My Vote and related
          projects - donate to

          = link_to "our crowdfunder.",
                    donate_info[:link],
                    target: "_blank"

      %hr

      %p.text-center
        %br
        = link_to "Follow us on Twitter", "https://twitter.com/swapmyvote", class: "button button-twitter"
        = link_to "Like us on Facebook", "https://www.facebook.com/swapmyvote", class: "button button-facebook"
      -# Keep this here for the next General Election!
        %p.text-center
          Make sure you don't miss out -
          = link_to "register to vote now!", "https://gov.uk/register-to-vote"
