.background-pattern.border-bottom
  .container.container-narrow
    .card
      %h2 June 2022 By-Election Update

      %p

        We have updated the Swap My Vote platform for the two
        by&#8209;elections to be held this summer on #{election_date_md}:
        #{election_title}. We aim to open for
        vote swapping soon!

      %p

        Please enter your email address for a reminder when vote
        swapping is open, and for further updates.

      = render partial: "actionnetwork.html"

      %hr

      %p.text-center
        Stay up to date with our future projects and for future elections.
        %br
        = link_to "Follow us on Twitter", "https://twitter.com/swapmyvote", class: "button button-twitter"
        = link_to "Like us on Facebook", "https://www.facebook.com/swapmyvote", class: "button button-facebook"
      -# Keep this here for the next General Election!
        %p.text-center
          Make sure you don't miss out -
          = link_to "register to vote now!", "https://gov.uk/register-to-vote"
