.background-pattern.border-bottom
  .container.container-narrow
    .card
      %h2 December 2019 General Election is a wrap!

      %p

        We closed swaps shortly before the polls closed, and are now
        very much looking forward to catching up on some sleep.

      %p
        %strong Thank you so much

        for taking part!  And rest assured that we will be back next
        time - we have a ton of ideas for how to make vote swapping
        better, building on lessons learned this time round.

      %p

        So please do join our mailing list to stay in the loop on our
        future vote-swapping activities!

      = render partial: "mailchimp.html"

      %p
        And in the mean time, any contributions to

        = link_to "our crowdfunder",
                  "https://www.crowdfunder.co.uk/swapmyvote",
                  target: "_blank"

        would be most welcome!

      %hr

      %p.text-center
        %br
        = link_to "Follow us on Twitter", "https://twitter.com/swapmyvote", class: "button button-twitter"
        = link_to "Like us on Facebook", "https://www.facebook.com/swapmyvote", class: "button button-facebook"
      -# Keep this here for the next General Election!
        %p.text-center
          Make sure you don't miss out -
          = link_to "register to vote now!", "https://gov.uk/register-to-vote"
