.background-pattern.border-bottom
  .container.text-center
    %h1
      - if general_election?
        The #{election_date_season_type.titleize} is here!
      - else
        The #{election_date_season_type} are here!

    %h2

      You still have a bit of time to find a voting partner to swap
      with, if you haven't already!


    %h2.subdued
      Swap My Vote can help if voting for your preferred party doesn't make sense in
      %strong
        your
      constituency.

= render partial: "swap_form"

.background-pattern.border-bottom
  .container.text-center
    %h2 Ready to vote?

    = render partial: "shared/go_vote",
             locals: { user: current_user }

= render partial: "news_sign_up_before_polls_close"
