.background-pattern.border-bottom
  .container.text-center
    %h1
      - if general_election?
        The #{election_date_season_type.titleize} is here!
      - else
        The #{election_date_season_type} are here!

    %h2
      Can you vote in the
      #{election_event_choice}
      on %strong #{election_date_dm}?

    %h2

      If so, you still have time to find a voting partner to swap
      with, if you haven't already!

    %h2.subdued

      You can swap your vote with someone in #{election_constituency_choice}
      where it could count for more. You get to vote for who you
      really want, and to help someone else do the same!

= render partial: "swap_form"

.background-pattern.border-bottom
  .container.text-center
    %h2 Ready to vote?

    = render partial: "shared/go_vote",
             locals: { user: current_user }

= render partial: "news_sign_up_before_polls_close"
