= form_for :user, url: user_path do |f|
  .background-pattern.border-bottom
    .container.text-center
      %h1
        Make your vote count this May!
      %h2.subdued
        Swap it with someone in a constituency where it will count for more. You get to vote for who you really want, and to help someone else do the same.
    
  .plain-pattern.border-bottom
    .container.text-center
      %p.choose_party
        My preferred party is 
        = select :user, :preferred_party_id do
          %option{disabled: true, selected: true} ...
          = options_for_select(@parties.map {|p| [ p.name, p.id ]})
      %p.choose_party
        but I'm willing to vote for
        = select :user, :willing_party_id do
          %option{disabled: true, selected: true} ...
          = options_for_select(@parties.map {|p| [ p.name, p.id ]})
      %p
        %a.button.button-large{onclick: "submit(); return false", href: "#"} Swap My Vote!
      %p.small.subdued
        We will match you with someone who will 
        cast your preferred vote in a different area where it will count for more.
        In return, you will cast their preferred vote in your area.

  .background-pattern.border-bottom
    .container
      %p
        In UK general elections, if your vote isn’t for the winning candidate, it is largely wasted. This leads to various problems including voter apathy, electoral deserts, and tactical voting. The national debate is narrowed by parties targeting their policies towards centrist floating voters in marginal constituencies. In the 2010 election, only 29% of votes cast were necessary for the candidates to win; over half of votes were for losing candidates. Over 70% of votes were ‘wasted’ votes. 2011’s AV referendum did nothing to correct any of these issues. 
      %p
        Meanwhile over the past few years Internet platforms including Airbnb and Lyft have opened up previously undreamed-of ways for people to collaborate and share resources. Now Swap my Vote is bringing the ‘Sharing Economy’ to democracy. A radical and practical experiment, the platform at swapmyvote.uk will use social media to help pair voters who want to swap, each casting each other’s preferred vote where it counts for most. 


  :javascript
    function submit() {
      preferred_party_id = $("select[name='user[preferred_party_id]']").val();
      willing_party_id = $("select[name='user[willing_party_id]']").val();
      if (preferred_party_id !== null && willing_party_id !== null) {
        showModal($('.js-submit-modal'));
      } else {
        showModal($('.js-error-modal'));
      }
    }

  .modal.js-submit-modal{style: "display: none;"}
    .modal-dialog
      %i.fa.fa-times.subdued.modal-close
      %p.text-center
        %button.button.button-facebook{type: "submit", name: "log_in_with", value: "facebook"}
          %i.fa.fa-fw.fa-facebook
          Log in with Facebook
      %p.text-center.subdued &#8212; or &#8212;
      %p.text-center
        %button.button.button-twitter{type: "submit", name: "log_in_with", value: "twitter"}
          %i.fa.fa-fw.fa-twitter
          Log in with Twitter
          
  .modal.js-error-modal{style: "display: none;"}
    .modal-dialog
      %i.fa.fa-times.subdued.modal-close
      %p.text-center
        Please choose both your preferred party and your willing party.
      %p.text-center
        %a.button.modal-close{href: "#"} OK

