- if swapping_open?
  = form_for :user, url: user_path do |f|
    .background-pattern.border-bottom
      .container.text-center
        %h1
          Make your vote count on 12 Dec 2019!
        %h2.subdued
          Swap it with someone in a constituency where it will count for more. You get to vote for who you really want, and to help someone else do the same.

    .plain-pattern.border-bottom
      .container.text-center
        %p.choose_party
          My preferred party is
          = select :user, :preferred_party_id do
            %option{disabled: true, selected: true} ...
            = options_for_select(@parties.map {|p| [ p.name, p.id ]}, selected: @preferred_party_id)
        %p.choose_party
          but I'm willing to vote for
          = select :user, :willing_party_id do
            %option{disabled: true, selected: true} ...
            = options_for_select(@parties.map {|p| [ p.name, p.id ]}, selected: @willing_party_id)
        %p
          %a.button.button-large{onclick: "submit_modal(); return false", href: "#"} Swap My Vote!
        %p.small.subdued
          We will match you with someone who will
          cast your preferred vote in a different area where it will count for more.
          In return, you will cast their preferred vote in your area.

    .background-pattern.border-bottom
      .container
        %h2 How does Swap my Vote work?

        %ol
          %li Choose the party you would ideally vote for, and the party that you are willing to vote for tactically in your local constituency.

          %li We’ll find you a list of people with the opposite preference. Pick a partner to swap your vote with (the polls can help you see where it will make most difference).

          %li If your partner agrees to the swap, it is confirmed. We’ll put you in touch with each other’s Facebook or Twitter profiles and, if you like, you can introduce yourselves.
    :javascript
      function submit_modal() {
        preferred_party_id = $("select[name='user[preferred_party_id]']").val();
        willing_party_id = $("select[name='user[willing_party_id]']").val();
        if (preferred_party_id !== null && willing_party_id !== null) {
          showModal($('.js-submit-modal'));
        } else {
          showModal($('.js-error-modal'));
        }
      }

    .modal.js-submit-modal{style: "display: none;"}
      .modal-dialog
        %i.fa.fa-times.subdued.modal-close
        %p.text-center
          = link_to facebook_login_path, class: "button button-facebook",
                    method: :post do
            %i.fa.fa-fw.fa-facebook
            Log in with Facebook
        %p.text-center.subdued &#8212; or &#8212;
        %p.text-center
          = link_to twitter_login_path, class: "button button-twitter",
                    method: :post do
            %i.fa.fa-fw.fa-twitter
            Log in with Twitter
        %p.text-center.small.subdued
          (We won't share anything with anyone about your voting preferences <br/> or post to your feed without your permission)
        %p.text-center
          = link_to "Why do I need to log in with Facebook or Twitter?", "/faq#login", class: "small", target: "_blank"

    .modal.js-error-modal{style: "display: none;"}
      .modal-dialog
        %i.fa.fa-times.subdued.modal-close
        %p.text-center
          Please choose both your preferred party and your willing party.
        %p.text-center
          %a.button.modal-close{href: "#"} OK

- else
  .background-pattern.border-bottom
    .container.container-narrow
      .card
        %h2 December 2019 General Election Update

        %p We are updating the Swap My Vote platform for the election to be held on 12th December 2019. We will aim to open for vote swapping soon after 15th November.

        %p
          Please enter your email address for a reminder when vote swapping is open and further updates.

        = render :partial => "mailchimp.html"
        %hr
        %p.text-center
          Stay up to date with our future projects and for future elections.
          %br
          = link_to "Follow us on Twitter", "https://twitter.com/swapmyvote", class: "button button-twitter"
          = link_to "Like us on Facebook", "https://facebook.com/swapmyvote", class: "button button-facebook"
