%span.user
  = link_to "Already been here? Log in", "#", class: "small subdued logout", onclick: "showModal($('.js-login-modal')); return false"
.smv-modal.js-login-modal{style: "display: %s;" % (params[:log_in_with] ? 'inherit' : 'none')}
  .smv-modal-dialog
    %i.fa.fa-times.subdued.modal-close
    .modal-header
      %h2(class="h4 mb-0") Log in

    .modal-body

      - if log_in_with_facebook?
        %p.text-center
          = link_to facebook_login_path, method: :post,
                  class: "btn btn-facebook btn-block" do
            = image_tag('facebook_icon.png')
            Log in with Facebook
      - if log_in_with_twitter?
        %p.text-center
          = link_to twitter_login_path, method: :post,
                  class: "btn btn-twitter btn-block" do
            %i.fa.fa-fw.fa-twitter
            Log in with Twitter
      - if log_in_with_email?
        %p.text-center
          = link_to new_user_session_path, class: "btn btn-dark btn-block" do
            Log in with email

      %p.text-center.small.subdued
        We will never share anything with anyone about your voting preferences or post to your feed without your permission
