!!!
%html
  %head
    %title Swap My Vote
    %meta{:property => "fb:app_id", :content => "#{ENV['FACEBOOK_KEY']}"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:title", :content => "Swap My Vote | Don’t just wait for electoral reform - make your vote count this December 12th"}
    %meta{:property => "og:image", :content => image_url("facebook_sharing_banner.jpg")}
    %meta{:property => "og:image:width", :content => "1500"}
    %meta{:property => "og:image:height", :content => "786"}
    %meta{:property => "og:site_name", :content => "Swap My Vote"}
    %meta{:property => "og:description", :content => "Make votes matter! Swap yours with someone in a constituency where both could count for more. You get to vote for who you really want, and help someone else do the same."}
    %meta{:property => "og:url", :content => "https://www.swapmyvote.uk"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = favicon_link_tag(source="favicon_16.png", {:sizes => "16x16"})
    = favicon_link_tag(source="favicon_32.png", {:sizes => "32x32"})

    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %script{:src => "https://www.gstatic.com/charts/loader.js", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    - if ENV['GOOGLE_ANALYTICS_ID']
      %script{:type => "text/javascript"}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{ENV['GOOGLE_ANALYTICS_ID']}', 'auto');
        ga('send', 'pageview');

  %body
    .navbar
      = link_to "SwapMyVote", root_path, class: "brand"

      - if logged_in?
        %span.user
          %img{:src => current_user.image_url}/
          %span.name
            = current_user.name
          = link_to "Log out", logout_url, class: "small subdued logout"
      - else
        %span.user
          = link_to "Already been here? Log in", "#", class: "small subdued logout", onclick: "showModal($('.js-login-modal')); return false"
        .modal.js-login-modal{style: "display: %s;" % (params[:log_in_with] ? 'inherit' : 'none')}
          = form_with url: "#", id: "login-form", class: "modal-dialog",
                      local: true do
            %i.fa.fa-times.subdued.modal-close
            - if !params[:log_in_with] or params[:log_in_with] == 'facebook'
              %p.text-center
                %button{formaction: facebook_login_path, formmethod: :post,
                        class: "button button-facebook"}
                  %i.fa.fa-fw.fa-facebook
                  Log in with Facebook
            - if !params[:log_in_with]
              %p.text-center.subdued &#8212; or &#8212;
            - if !params[:log_in_with] or params[:log_in_with] == 'twitter'
              %p.text-center
                %button{formaction: twitter_login_path, formmethod: :post,
                        class: "button button-twitter"}
                  %i.fa.fa-fw.fa-twitter
                  Log in with Twitter
            %p.text-center.small.subdued
              (We will never share anything with anyone about your voting preferences <br/> or post to your feed without your permission)
            %p.text-center
              = link_to "Why do I need to log in with Facebook or Twitter?", "/faq#login", class: "small", target: "_blank"

    - if flash[:errors]
      .error.border-bottom
        - for error in flash[:errors]
          %p.text-error.text-center= error

    = yield

    %footer
      .container
        %ul
          %li
            %h3 Swap My Vote
          %li
            = link_to "About", about_path, class: "small"
          %li
            = link_to "Contact Us", contact_path, class: "small"
          %li
            = link_to "Privacy Policy", privacy_path, class: "small"
          %li
            = link_to "Terms and Conditions", terms_path, class: "small"
          %li
            = link_to "Cookies", cookies_path, class: "small"
        %ul
          %li
            %h3 Social
          %li
            = link_to "Twitter", "https://twitter.com/swapmyvote", class: "small"
          %li
            = link_to "Facebook", "https://facebook.com/swapmyvote", class: "small"
          %li
            = link_to "Blog", "http://blog.swapmyvote.uk", class: "small"
        %ul
          %li
            %h3 FAQ
          %li
            = link_to "Is this legal?", faq_path(anchor: "legal"), class: "small"
          %li
            = link_to "How do I know my partner will vote (for who I want)?", faq_path(anchor: "trust"), class: "small"
          %li
            = link_to "More ...", faq_path, class: "small"
