!!!
%html{ lang: 'en' }
  %head
    = render partial: 'layouts/google_tag_manager_head'
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title Swap My Vote
    %meta{ property: "fb:app_id", content: "#{ENV['FACEBOOK_KEY']}" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Swap My Vote | Make your vote count in the #{election_date_and_type_mdy}! Don’t wait for electoral reform." }
    %meta{ property: "og:image", content: image_url("facebook_sharing_banner_GE2024.png") }
    %meta{ property: "og:image:width", content: "1200" }
    %meta{ property: "og:image:height", content: "630" }
    %meta{ property: "og:site_name", content: "Swap My Vote" }

    %meta{ name: "twitter:card", content: "summary_large_image" }
    %meta{ name: "twitter:site", content: "@SwapMyVote" }
    %meta{ name: "twitter:creator", content: "@SwapMyVote" }
    %meta{ name: "twitter:title", content: "Swap My Vote" }
    %meta{ name: "twitter:description", content: "Make your vote count in the #{election_date_and_type_mdy}!" }
    %meta{ name: "twitter:image", content: image_url("facebook_sharing_banner_GE2024.png") }

    - meta_description = "Make votes matter! Swap yours with someone in a constituency where both could count for more. You get to vote for who you really want, and help someone else do the same. Turn tactical voting into a win-win!"
    - meta_og_description = yield(:meta_og_description).strip || meta_description
    %meta{ property: "description", content: meta_description }
    %meta{ property: "og:description", content: meta_og_description }

    %meta{ property: "og:url", content: "https://www.swapmyvote.uk" }

    = favicon_link_tag(source="favicon_16.png", {sizes: "16x16"})
    = favicon_link_tag(source="favicon_32.png", {sizes: "32x32"})

    %link{ href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin: "anonymous" }
    %link{ href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet" }
    %script{ src: "https://www.gstatic.com/charts/loader.js", type: "text/javascript" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %script{ src: "https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js", :data-cfasync=> "false" }

    = render partial: 'layouts/cookie_consent'

  %body
    = render partial: 'layouts/google_tag_manager_body'

    .smv-navbar
      = link_to "SwapMyVote", root_path, class: "smv-brand"

      - if donate_info[:show]
        = render partial: 'layouts/donate'

      - if logged_in?
        = render partial: "layouts/current_user"
      - elsif logins_open?
        = render partial: "layouts/login"

    - if flash[:errors]
      .error.border-bottom
        - for error in flash[:errors]
          .alert.alert-danger.small.text-center= error

    = yield

    = render partial: 'layouts/footer'

    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity: "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin: "anonymous" }
    %script{ src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity: "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin: "anonymous" }
